# Virtual environment
**/venv/
**/.venv/



# Logs
logs/
*.log
**/redis_data
**/postgres_data
# Python cache
**/__pycache__/
*.ipynb
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~


# Temporary files
*.tmp
*.temp

# System files
*.DS_Store
Thumbs.db
.env