streamlit>=1.38.0
PyPDF2>=3.0.1
langchain>=0.2.14
langchain-core>=0.2.38
langchain-community>=0.2.9
langchain-google-genai>=1.0.5
google-generativeai>=0.5.3
faiss-cpu>=1.8.0
SpeechRecognition>=3.10.4
pyttsx3>=2.90
PyMuPDF>=1.24.10
googletrans==4.0.0-rc1
protobuf>=4.25.3
tqdm>=4.66.4
numpy>=1.26.4
pandas>=2.2.3
requests>=2.32.3
typing_extensions>=4.12.2
python-dotenv>=1.0.1